.gradle
.settings
/.idea/
/.vscode/
/run/
/build/
/buildServer/
/eclipse/
.classpath
.project
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
build_log*.txt
log.txt
deps_list.txt
compile_log.txt
build_log_diagnosis.txt
Sources/
progress.md
sources/
docs/
